/*
Theme Name: Comes&Bebes
Theme URI: https://wordpress.org/themes
Author: John Lennon
Author URI: https://gitlab.com/JohnLennonD
Description: Tema para vendas de tipos de comidas.
Version: 1.1
Requires at least: 5.0
Tested up to: 5.4
Requires PHP: 7.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: Comes&Bebes
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bellota Text', cursive;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}