.header {
    background-color: #7A247D;
    display: flex; 
    justify-content: space-between;
    padding: 1rem 10%;
}

.header_left, .header_right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn_order {
    background-color: #f5c661;
    color: black;
    font: 600 1.25rem 'Roboto', sans-serif;
    padding: 0.70rem 1.25rem;
}

.logo_img {
    font-size: 2rem;
}

.search {
    border-bottom: 1px solid #f5c661;
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0.5rem;
}

.inp_text {
    width: 22.25rem;
    font-size: 1.25rem;
    line-height: 1.25rem;

    border: transparent;
    background-color: transparent;
    color: #f5c661;
    text-decoration: none;
}

.inp_text:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}