
.banner_home{
    background-color: #7A247D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 5% 0 7% 0;
}

#banner_title {
    color: #F5C661;
    font: 900 3rem 'Roboto', sans-serif;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
    
}

#banner_description {
    color: #fafafa;
    font: 300 2rem 'Roboto', sans-serif;
}

.mostruario {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 10%;
    gap: 2rem;
}

.informacoes {
    background-color: #7A247D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 4% 0;
}

.bellota {
    font-family: 'Bellota text', cursive;
}

#info_title {
    color: #fafafa;
    font-weight: 400;
    font-size: 2rem;
}

.info_baixo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem 10rem;
}

.mapa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem 0;
}

.info_description {
    font: 400 1rem 'Roboto', sans-serif;
    color: #fafafa;
}
