
a, a:link, a:visited {
    text-decoration: none;
    color: inherit;
}


.navigation_bar {
    background-color: #F5C661;
    padding: 1rem;
    margin: 0 0 2rem 0;
}

.navigation_menus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-weight: 700;
    font-size: 1.5rem;
    color: black;
}

.form_out {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 8vw;
    font-weight: 400;
    font-size: 1.5rem;

}

.form_in {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

#nome_sobrenome_out {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}

#nome_sobrenome_in {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 38vw;
    gap: 1rem;
}

#div_btn_painel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
}

#btn_painel {
    background-color: #7E3481;
    color: #fafafa;
    padding: 0.5rem 1.5rem;
    font-weight: 400;
    font-size: 1.5rem;
    border: none;
}

.inp_painel {
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.25rem;
    border: transparent;
    background-color: transparent;
    text-decoration: none;
}

.inp_painel:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.inp_div {
    border-bottom: 2px solid #7E3481;
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0.5rem;
}

#form_out {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 81vw;
    gap: 1rem;
}