.mostruario_cima, .mostruario_baixo  {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-categorias-container > ul, .daily_foods{
    display: flex;
    gap: 2vw;
}

.Categoria-content {
    width: 15rem;
    height: 13.125rem;
    background-repeat: no-repeat;
}

.Categoria-titulo {
    display: flex;
    width: 100%;
    height: 100%;
    color: #e5e5e5;
}

p.Title {
    display: flex;
    align-self: self-end;
    width: 100%;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    padding: 0.5rem 0.3rem;
}

h2.midshow {
    text-align: center;
}

#dailyh3 {
    text-align: left;
}

.weekDay {
    color: red;
}

.card-typefood {
    width: 15rem;
    height: 23.125rem;
    background-repeat: no-repeat;
    border-radius: 0.25rem;
}

.product-content {
    display: flex;
    width: 100%;
    height: 100%;
    color: #e5e5e5;
    align-self: self-end;
}

.content_info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.125rem;
    padding: 0.3rem 0.5rem;
    width: 100%;
    align-self: self-end;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
}

.botton_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.225rem;
}

.botton_content img {
    border-radius: 0.3rem;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.more_opt {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.show_more {
    background-color: #F5C661;
    font: 500 1.225rem 'Roboto';
    padding: 0.25rem 0.5rem;
}