.show_section {
    padding: 2% 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.section_shop { 
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1rem;
}

.menu_top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.search_food {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 1095px;
    padding: 0 4%;
}

.basket {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.basket > input {
    width: 15rem;
}

.filter {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.ordering {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
    float: none;
}

.filter_price {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    font-size: 1.125rem;
}

input {
    border: none;
    border-bottom: 2px solid #6A066D;
}

input:focus {
    box-shadow: 0 0 0 0;
    /* border: 0 none; */
    outline: 0;
}

.list_products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 1.75rem;
}

.pagination {
    font-size: 1.25rem;
    font-weight: 700;
}